* {
    box-sizing: border-box;
  }
  .header {
    background-color: black;
    padding: 28px;
    text-align: center;
    color:white;
    opacity: 70%;
  }
  .desc
  {
      display: none;
      text-align: center;
      z-index: 9;
      height: auto;
      color:white;
      font-size:20px;
  }
  
.planets
  {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: red;
  }
  
.planets:hover .desc
  {
      display: block;
  }
  
.earth{
    color: green;
    padding: 30px;
}
body{
    background-image:url(https://i.pinimg.com/originals/8e/46/15/8e46150f790fbefe438d9c2767c32ad1.gif);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
@keyframes Shake
{
    0% {transform: translateY(1px);}
    50% {transform: translateY(-1px);}
    100% {transform: translateY(1px);}
}

img{
    animation: Shake 0.5s linear infinite;
    animation-timing-function: step-end;
}
   
.names {
    overflow: hidden;
    background-color: transparent;
  }
.footer p{
    float:left;
    color: white;
    margin-left: 10px;
}
.footer{
    background-color:transparent;
}

  .names a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  .names a:hover {
    
    color: grey;
  }
 footer{
    margin-top: auto;
    padding: 0;
 }
