<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'cosmic_weight/css/style.css' %}">
<script src="{% static 'cosmic_weight/js/script.js' %}"></script>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>


>
    <div class="header">
        <h1>Cosmic Weight</h1>
        <p>Welcome to the Cosmic Weight.</p>
        <p>You have access to comprehensive data on the planets in our solar system.</p>
        <p>Additionally you could also calculate your estimated weight on each planet.</p>
        <p>Explore and enjoy.</p>
      </div>
    <div class="planets" id="sun">

        <img src="{% static 'cosmic_weight/images/Sun.png' %}" alt="Sun">
            <p class="desc">Sun</p>
    </div>
    <div class="rings">
        <div id="ringOne">
        <div class="img-wrap">
        <div class="planets" id="Mercury">
            <img src="{% static 'cosmic_weight/images/Mercury.png' %}" id="Mercury-Image"alt="Mercury">
            <p class="desc">Mercury</p>
            <div class="menu" id="Mercury-my-menu">
                <form id="Mercury-my-form">
                    <label for="weight">Mercury: Enter Weight: </label><br>
                    <input type="text" id="weight" name="weight" value="weight"><br>
                    <input type="submit" class="submit" value="Submit">
                  </form> 
            </div>
        </div>
        </div>
        </div>
    

    <div id="ringTwo">
    <div class="img-wrap">
    <div class="planets" id="Venus">
        <p class="desc">Venus</p>
        <img src="{% static 'cosmic_weight/images/Venus.png' %}" alt="Venus">
        <div class="menu" id="Venus-my-menu">
            <form>
                <label for="weight">Venus: Enter Weight: </label><br>
                <input type="text" id="weight" name="weight" value="weight"><br>
                <input type="submit" class="submit" value="Submit">
              </form> 
        </div>
    </div>
    </div>
    </div>
<div id="ringThree">
    <div class="img-wrap">
  <div class="planets" id="Earth">
        <p class="desc">Earth</p>
        <img src="{% static 'cosmic_weight/images/Earth.png' %}" alt="Earth">
        <div class="menu" id="Earth-my-menu">
            <form >
                <label for="weight">Enter Weight: </label><br>
                <input type="text" id="weight" name="weight" value="weight"><br>
                <input type="submit" class="submit" value="Submit">
              </form> 
        </div>
    </div>
    </div>
    </div>
<div id="ringFour">
    <div class="img-wrap">
    <div class="planets" id="Mars">
        <p class="desc">Mars</p>
         <img src="{% static 'cosmic_weight/images/Mars.png' %}" alt="Mars">
         <div class="menu" id="Mars-my-menu">
            <form>
                <label for="weight">Enter Weight: </label><br>
                <input type="text" id="weight" name="weight" value="weight"><br>
                <input type="submit" class="submit" value="Submit">
              </form> 
        </div>
    </div>
    </div>
    </div>
    <div id="ringFive">
        <div class="img-wrap">
    <div class="planets" id="Jupiter">
        <p class="desc">Jupiter</p>
        <img src="{% static 'cosmic_weight/images/Jupiter.png' %}" alt="Jupiter">
        <div class="menu" id="Jupiter-my-menu">
            <form >
                <label for="weight">Enter Weight: </label><br>
                <input type="text" id="weight" name="weight" value="weight"><br>
                <input type="submit" class="submit" value="Submit">
              </form> 
        </div>
     </div>
     </div>
     </div>
    <div id="ringSix">
        <div class="img-wrap">
    <div class="planets" id="Saturn">
        <p class="desc">Saturn</p>
        <img src="{% static 'cosmic_weight/images/Saturn.png' %}" alt="Saturn">
        <div class="menu" id="Saturn-my-menu">
            <form >
                <label for="weight">Enter Weight: </label><br>
                <input type="text" id="weight" name="weight" value="weight"><br>
                <input type="submit" class="submit" value="Submit">
              </form> 
        </div>
    </div>
    </div>
    </div>  
    <div id="ringSeven">
        <div class="img-wrap">
    <div class="planets" id="Uranus">
        <p class="desc">Uranus</p>
        <img src="{% static 'cosmic_weight/images/Uranus.png' %}" alt="Uranus">
        <div class="menu" id="Uranus-my-menu">
            <form >
                <label for="weight">Enter Weight: </label><br>
                <input type="text" id="weight" name="weight" value="weight"><br>
                <input type="submit" class="submit" value="Submit">
              </form> 
        </div>
    </div>
    </div>
    </div>
    <div id="ringEight">
        <div class="img-wrap">
    <div class="planets" id="Neptune">
        <p class="desc">Neptune</p>
        <img src="{% static 'cosmic_weight/images/Neptune.png' %}" alt="Neptune">
        <div class="menu" id="Neptune-my-menu">
            <form>
                <label for="weight">Enter Weight: </label><br>
                <input type="text" id="weight" name="weight" value="weight"><br>
                <input type="submit" class="submit" value="Submit">
              </form> 
        </div>
    </div>
        </div>
    </div>
    <div id="ringEight">
        <div class="img-wrap">
        <div class="planets" id="Pluto">
            <p class="desc">Pluto</p>
            <img src="{% static 'cosmic_weight/images/Pluto.png' %}" alt="Pluto">
            <div class="menu" id="Pluto-my-menu">
                <form >
                    <label for="weight">Enter Weight: </label><br>
                    <input type="text" id="weight" name="weight" value="weight"><br>
                    <input type="submit" class="submit" value="Submit">
                  </form> 
            </div>
        </div>
        </div>
        </div>
 </div>
</body>
<footer>
    <div class="footer">
        <p>Powered By: </p>
        
            <div class="names">
               
                <a herf="#"> name</a>
                <a herf="#"> name</a>
                <a herf="#"> name</a>
                <a herf="#"> name</a>
            </div>
          
       
        </div>
    </footer>
</html>